/* Left Sidebar Styles */
.leftSidebar {
    transition: transform 0.3s ease-in-out;
}

.navLink:hover {
    background-color: #e0e5e9; 
}

@media (max-width: 991.98px) {
    .leftSidebar {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .leftSidebar {
        width: 320px !important;
    }
}

@media (min-width: 1200px) {
    .leftSidebar {
        width: 380px !important;
    }
}