/* Right Sidebar Styles */
.rightSidebar {
    transition: transform 0.3s ease-in-out;
}

.friendContainer {
    background-color: #F8F9FA;
}

.cardContainer {
    background-color: #EDF2FE;
    border-radius: 20px;
}

@media (max-width: 991.98px) {
    .rightSidebar {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .rightSidebar {
        width: 320px !important;
    }
}

@media (min-width: 1200px) {
    .rightSidebar {
        width: 380px !important;
    }
}